body{
    width:100%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:  rgb(224, 224, 224);

}

.container{
    width:50%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction:column

}
input{
    height:auto;
    width: 70%;
    
}
button{
    background-color: orangered;
    color:white;
    padding:15px;
    font-weight:bolder;
    text-transform: capitalize;
    border: 0;
}
.btn-con{
    width:100%;
    display:flex;
    justify-content: center;
    margin:15px;
}